<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="GenericTestComponents.Listeners"/>
</listeners>
	<test thread-count="5" name="Maps Test">
		<classes>
			<class
				name="UIAutomation.SeleniumFrameworkDesign.MapsTest" />
		</classes>
	</test>
<!-- <test thread-count="5" name="second vehicle Test">
		<classes>
			<class
				name="UIAutomation.SeleniumFrameworkDesign.MapsTestForOtherVehicle" />
		</classes>
	</test>-->
</suite>
